* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 0.6em;
  margin-left: 2px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background-color: #848a91;
}

*::-webkit-scrollbar-thumb {
  background-color: #8d99a5;
  outline: 1px solid #22262b;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #96a8b9;
  outline: 1px solid #394350;
  border-radius: 5px;
}
